
<div class="row " ng-controller="poController" ng-init="initPoEdit();">
    <fieldset>
        امر شراء

    </fieldset>
    <div class="row " dir="rtl">
        <div class="col-lg-9">
            <div class="panel panel-default col-lg-pull-7">
                <div class="panel-heading">
                    Basic Form Elements
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">


                        </div>
                        <div class="col-lg-3">


                        </div>
                        <div class="col-lg-3">
                            <form role="form">
                                <div class="form-group ">
                                    <label>Date</label>
                                    <input value="{{po2Edit.OrderDate}}" ng-model="po2Edit.OrderDate" class=" form-control">

                                    <!--<style>
                                        .full button span {
                                            background-color: limegreen;
                                            border-radius: 32px;
                                            color: black;
                                        }

                                        .partially button span {
                                            background-color: orange;
                                            border-radius: 32px;
                                            color: black;
                                        }
                                    </style>
                                    <div ng-controller="datepickerPopupController">
                                        <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

                                        <h4>Inline</h4>
                                        <div style="display:inline-block; min-height:290px;">
                                            <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                                        </div>

                                        <hr />
                                        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                                        <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                                        <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                                        <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
                                    </div>-->
                                </div>
                                <div class="form-group">
                                    <label>اجمالى السعر </label>
                                    <input value="{{toPricView}}" ng-model="toPricView" class="form-control">
                                </div>




                            </form>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-3">
                            <form role="form">
                                <div class="form-group ">
                                    <label>رقم امر الشراء</label>
                                    <input value="{{po2Edit.OrderId}}" ng-disabled="true" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>اسم المورد (المزرعة)</label>
                                    <div class="form-group input-group">
                                        <input value="{{po2Edit.Supplier.SuppName}}" ng-model="SuppName" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#my2Modal">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <a ng-href="#/po/{{po2Edit.OrderId}}" class="btn btn-default">الغاء</a>
                                <button type="reset" ng-click="Updatepo()" class="btn btn-success">حفظ التعديلات</button>

                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="col-lg-9">
        <div class="panel panel-default col-lg-pull-8">
            <div class="panel-heading">
                الاصناف
                <!-- Button trigger modal -->
                <button class="btn btn-primary icon-bar" data-toggle="modal" data-target="#myModal">
                    +
                </button>


            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover col-lg-pull-8" id="dataTables-example">
                    <thead>
                        <tr>

                            <th class="col-sm-1">اسم الصنف</th>
                            <th class="col-sm-1"> القوائم</th>
                            <th class="col-sm-1">عدد القوائم</th>

                            <th class="col-sm-1">وزن الفارغ</th>
                            <th class="col-sm-1">الوزن الصافى</th>

                            <th class="col-sm-1">السعر</th>
                            <th class="col-sm-1">الاجمالى</th>

                        </tr>
                    </thead>
                    <tbody ng-repeat="d in PODetailsList">

                        <tr ng-class-odd="'odd'" ng-class-even="'even'">




                            <td style="width: 130px">{{d.Item.ItemName}}</td>
                            <td class="col-sm-1"><input style="width:90px" value="{{d.CaseWight}}" ng-model="d.CaseWight" /></td>
                            <td class="col-sm-1"><input style="width:90px" value="{{d.CaseNumber}}" ng-model="d.CaseNumber" /></td>
                            <td><input style="width: 90px" value="{{d.CaseNumber*8}}" ng-model="d.WightEmpty" /></td>
                            <td>
                                <input disabled value="{{(d.CaseWight - d.WightEmpty)}}" />
                            </td>
                            <td><input style="width: 90px" value="{{d.ItemPrice}}" ng-model="d.ItemPrice" /></td>
                            <td>{{(d.CaseWight - d.StoredQty ) * d.ItemPrice}}</td>



                        </tr>



                    </tbody>
                    <tfoot>
                        <tr>


                            <td>عد الاصناف</td>
                            <td>{{rowCount}}</td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td> اجمالى سعر الاصناف</td>
                            <td>{{TotalPrice}}</td>
                        </tr>
                    </tfoot>
                </table>
                <!-- /.table-responsive -->
                <!-- Modal    items -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">الاصناف</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped table-bordered table-hover col-lg-pull-3" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1"></th>
                                            <th class="right center col-sm-1" dir="rtl">رقم الصنف</th>
                                            <th class="col-sm-2 ">اسم الصنف</th>
                                            <th class="col-sm-1">السعر</th>
                                            <th class="col-sm-1"><input name="ChkAll" ng-model="option.selected" ng-change="optionToggled()" type="checkbox"></th>

                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="it in items">

                                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-click="">


                                            <td><input type="button" ng-click="addpod2Edit(it.ItemDetailsId,it.ItemName,it.AverageCost)" value="+" /></td>
                                            <td> {{it.ItemId}} </td>
                                            <td>{{it.ItemName}}</td>
                                            <td>{{it.AverageCost}}</td>
                                            <td dir="ltr"> <input name="chkBox{{$index}}" ng-click="toggleAll()" ng-model="isAllSelected" type="checkbox"></td>




                                        </tr>



                                    </tbody>

                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                                <button type="button" class="btn btn-primary">ختيار</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- Modal    suppliers -->
                <div class="modal fade" id="my2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">الموردين</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped table-bordered table-hover col-lg-pull-3" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <td class="right center col-sm-1">اختار</td>
                                            <th class="right center col-sm-1">رقم المورد</th>


                                            <th class="col-sm-1">اسم المورد (المزرعه)</th>

                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="sup in GetSupp">

                                        <tr ng-class-odd="'odd'" ng-class-even="'even'">


                                            <td><input type="button" data-dismiss="modal" ng-click="putSupp(sup.SuppId,sup.SuppName)" value="+" /></td>
                                            <td ng-model="po2Edit.SuppliersDetailsId">{{sup.SuppId}}</td>

                                            <td ng-model="po2Edit.SuppliersDetail.supplierName">{{sup.SuppName}}</td>




                                        </tr>



                                    </tbody>

                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

            </div>
            <!-- /.panel-body -->
        </div>


    </div>

</div>



