@model RabApiWithMvc.Models.Client

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
   

        <dt>
            @Html.DisplayNameFor(model => model.ClntName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClntName)
        </dd>


    



    </dl>
</div>
<p>
   
</p>
